
# Python cache / bytecode
__pycache__/
*.py[cod]
*$py.class

# Python virtual environments
.venv/
venv/
app/backend/venv/

.env

*.db
node_modules/

# Build outputs
app/frontend/dist/
dist/

# Logs
logs/
*.log
.DS_Store
